/* Global-styles */
body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  background-color: #fff;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/* Header-styles */
.header {
}
.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.header-accent {
  color: #2e2f42;
}
.header-nav-list {
}
.header-nav-list-item {
}
.header-nav-list-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-address-list {
}
.header-address-list-item {
}
.header-address-list-item-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}
/* Hero-styles */
.hero-section {
  background-color: #2e2f42;
}
.hero-section-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-section-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 1.12px;
  font-family: Roboto, sans-serif;
  background-color: #4d5ae5;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
