/* Global-styles */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/* Header-styles */
.header {
}
.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.header-accent {
  color: #2e2f42;
}
.header-nav-list-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}

.header-address-list-item-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
  color: #404bbf;
}
/* Hero-styles */
.hero-section {
  background-color: #2e2f42;
}
.hero-section-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
.hero-section-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: Roboto, sans-serif;
  background-color: #4d5ae5;
  text-align: center;
  cursor: pointer;
}
.hero-section-btn:hover,
.hero-section-btn:focus {
  background-color: #404bbf;
}
/* Advantages-styles */

.advantages-section-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.advantages-section-list-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Offers-styles */

.offers-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 0.72px;
}
/* Team-styles */

.team-section {
  background-color: #f4f4fd;
}
.team-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 0.72px;
}

.team-section-list-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
}
.team-section-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}
/* Footer-styles */
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.footer-accent {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
}
